<template id="page">
	<main id="page">
		<h1 id="headline">HERE'S YOUR RESULTS</h1>
		<div
			v-for="(question, index) in getQuestions"
			:key="index"
		>
			<p id="question" v-html="getQuestions[index]"></p>
			<p id="correctAnswer">Correct answer:</p>
			<p id="correctAnswer" v-html="getCorrectAnswers[index]"></p>
			<p id="usersAnswer">Your answer:</p>
			<p id="usersAnswer" v-html="getUsersAnswers[index]"></p>
		</div>
		<p id="score"> Your total score is: {{getCorrectAnsweredQuestions}}</p>
		<button type="submit" @click.prevent="handleStartButton">START SCREEN</button>
		<button type="submit" @click.prevent="handlePlayButton">PLAY AGAIN</button>
	</main>
</template>

<script>
export default {
	name: "Results",
	computed: {
		getCorrectAnsweredQuestions() {
			return this.$store.state.correctAnsweredQuestions;
		},
		getCorrectAnswers() {
			return this.$store.state.correctAnswers;
		},
		getUsersAnswers() {
			return this.$store.state.usersAnswers;
		},
		getQuestions() {
			return this.$store.state.questions;
		},
	},
	methods: {
		handleStartButton(){
			this.$store.commit("deleteAll"); 
			this.$router.push("/");
		}, 
		handlePlayButton(){
			this.$store.commit("deleteAll"); 
			this.$router.push("/questions");
		}
	}
};
</script>
<style scoped>
#page {
	background-color: rgba(110, 34, 34, 0.315);
}
#headline {
	font-size: 6rem;
	padding: 1.5rem;
	color: rgb(163, 1, 1);
	text-align: center;
	font-family: fantasy;
}
#question {
	padding-top: 10rem; 
	font-size: 4rem;
	padding: 1.0rem;
	color: rgb(163, 1, 1);
	font-family: fantasy;
}
#correctAnswer {
	font-size: 3rem;
	padding-left: 1.0rem;
	color: rgb(15, 121, 1);
	font-family: fantasy;
}
#usersAnswer {
	font-size: 3rem;
	padding-left: 1.0rem;
	color: rgb(12, 0, 116);
	font-family: fantasy;
}
#score {
	font-size: 6rem;
	font-weight: bold;
	padding-left: 1.0rem;
	color: rgb(163, 1, 1);
	font-family: fantasy;
}
button {
	font-size: 2rem;
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 20%;
	background-color: rgb(235, 197, 155);
	border: 4px solid rgb(146, 6, 6);
	border-radius: 2rem;
	box-shadow: 3px 5px 5px rgba(129, 14, 14, 0.521);
}
</style>
