<template>
	<main id="page">
		<h1 id="headline">CONFIGURE YOUR QUIZ</h1>
		<form id="containers" @submit.prevent="onGetQuestionSubmit" class="mb-3">
			<fieldset class="mb-3">
				<label for="amount" class="form-label"
					>Select number of questions</label
				>
				<input
					v-model.number="selectedAmount"
					type="number"
					placeholder="Number of questions"
					min="1"
					max="50"
					class="form-control"
				/>
			</fieldset>

			<fieldset class="mb-3">
				<label for="category" class="form-label">Select a category</label>
				<select class="form-select" v-model="selectedCategory">
					<option value="" id="inp">-- Choose category --</option>
					<option
						v-for="category of categories"
						:value="category"
						:key="category.id"
					>
						{{ category.name }}
					</option>
				</select>
			</fieldset>

			<fieldset class="mb-3">
				<label for="difficulty" class="form-label">Select a difficulty</label>
				<select class="form-select" v-model="selectedDifficulty">
					<option value="" id="inp">-- Choose difficulty --</option>
					<option
						v-for="difficulty of difficulties"
						:value="difficulty"
						:key="difficulty.name"
					>
						{{ difficulty.name }}
					</option>
				</select>
			</fieldset>

			<button type="submit">START QUIZ</button>
		</form>
		<section class="alert alert-danger" v-if="error">
			<h4>Please hold the line while I will throw an error!</h4>
			<p class="mb-0">{{ error }}</p>
		</section>
	</main>
</template>

<script>
export default {
	name: "QuestionConfigure",
	methods: {
		onGetQuestionSubmit() {
			this.error = "";
			if (!this.selectedAmount) {
				this.error = "You forgot to select number of questions";
				return;
			}

			if (!this.selectedCategory) {
				this.error = "You forgot to select a category";
				return;
			}

			if (!this.selectedDifficulty) {
				this.error = "You forgot to select a difficulty";
				return;
			}
			localStorage.setItem(
				"question-config",
				JSON.stringify({
					amount: this.selectedAmount,
					category: this.selectedCategory,
					difficulty: this.selectedDifficulty,
				})
			);

			// Redirect
			this.$router.push("/questions");
		},
	},
	data() {
		return {
			error: "",
			selectedAmount: "",
			selectedCategory: "",
			selectedDifficulty: "",
			categories: [
				{ id: 9, name: "General Knowledge" },
				{ id: 10, name: "Entertainment: Books" },
				{ id: 11, name: "Entertainment: Film" },
				{ id: 12, name: "Entertainment: Music" },
				{ id: 13, name: "Entertainment: Musicals & Theatres" },
				{ id: 14, name: "Entertainment: Television" },
				{ id: 15, name: "Entertainment: Video Games" },
				{ id: 16, name: "Entertainment: Board Games" },
				{ id: 17, name: "Science & Nature" },
				{ id: 18, name: "Science: Computers" },
				{ id: 19, name: "Science: Mathematics" },
				{ id: 20, name: "Mythology" },
				{ id: 21, name: "Sports" },
				{ id: 22, name: "Geography" },
				{ id: 23, name: "History" },
				{ id: 24, name: "Politics" },
				{ id: 25, name: "Art" },
				{ id: 26, name: "Celebrities" },
				{ id: 27, name: "Animals" },
				{ id: 28, name: "Vehicles" },
				{ id: 29, name: "Entertainment: Comics" },
				{ id: 30, name: "Science: Gadgets" },
				{ id: 31, name: "Entertainment: Japanese Anime & Manga" },
				{ id: 32, name: "Entertainment: Cartoon & Animations" },
			],
			difficulties: [{ name: "easy" }, { name: "medium" }, { name: "hard" }],
		};
	},
};
</script>
<style scoped>
#headline {
	font-size: 6rem;
	padding-top: 1.5rem;
	color: rgb(163, 1, 1);
	text-align: center;
	font-family: fantasy;
}
#page {
	background-color: rgba(110, 34, 34, 0.315);
}
#containers {
	font-family: fantasy;
	padding: 1rem;
	font-size: 3rem;
}

button {
	font-size: 2rem;
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 20%;
	background-color: rgb(235, 197, 155);
	border: 4px solid rgb(146, 6, 6);
	border-radius: 2rem;
	box-shadow: 3px 5px 5px rgba(129, 14, 14, 0.521);
}
</style>
