<template>
	<main id="page">
		<h1 id="headline">IT'S TIME FOR QUIZ</h1>
		<div>
			<h1 v-html="loading ? 'Loading...' : currentQuestion.question"></h1>
			<form v-if="currentQuestion">
				<button
					v-for="answer in currentQuestion.answers"
					:index="currentQuestion.key"
					:key="answer"
					v-html="answer"
					@click.prevent="handleButtonClick"
				></button>
			</form>
		</div>
	</main>
</template>

<script>
import { STORAGE_KEY_CONFIG } from "@/consts/storageKeys";
import { getQuestions } from "@/api/questionsAPI";
export default {
	name: "StartPage",
	data() {
		return {
			error: "",
			questions: [],
			loading: true,
			index: 0,
		};
	},
	computed: {
		currentQuestion() {
			if (this.questions !== []) {
				return this.questions[this.index];
			}
			return null;
		},
		correctAnswers() {
			if (this.questions && this.questions.length > 0) {
				let streakCounter = 0;
				this.questions.forEach(function(question) {
					if (!question.rightAnswer) {
						return;
					} else if (question.rightAnswer === true) {
						streakCounter++;
					}
				});
				return streakCounter;
			} else {
				return "--";
			}
		},
		quizCompleted() {
			if (this.questions.length === 0) {
				return false;
			}
			/* Check if all questions have been answered */
			let questionsAnswered = 0;
			this.questions.forEach(function(question) {
				question.rightAnswer !== null ? questionsAnswered++ : null;
			});
			return questionsAnswered === this.questions.length;
		},
	},
	watch: {
		quizCompleted() {
			setTimeout(
				function() {
					this.$router.push("/results");
				}.bind(this),
				3000
			);
		},
	},
	methods: {
		async created() {
			try {
				this.loading = true;
				const config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG));
				if (config === null) {
					this.$router.push("/");
					return;
				}
				// get questions
				let response = await getQuestions(
					config.amount,
					config.category.id,
					config.difficulty.name
				);
				let index = 0;
				let data = response.results.map((question) => {
					// put answers on question into single array
					question.answers = [
						question.correct_answer,
						...question.incorrect_answers,
					];
					for (let i = question.answers.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[question.answers[i], question.answers[j]] = [
							question.answers[j],
							question.answers[i],
						];
					}
					question.rightAnswer = null;
					question.key = index;
					index++;
					return question;
				});
				this.questions = data;
				this.loading = false;
			} catch (error) {
				this.error = error.message;
			}
		},
		handleButtonClick: function(event) {
			/* Find index to identiy question object in data */
			let index = event.target.getAttribute("index");

			let pollutedUserAnswer = event.target.innerHTML; // innerHTML is polluted with decoded HTML entities e.g ' from &#039;
			/* Clear from pollution with ' */
			let userAnswer = pollutedUserAnswer.replace(/'/, "&#039;");

			/* Set userAnswer on question object in data */
			this.questions[index].userAnswer = userAnswer;

			/* Set class "clicked" on button with userAnswer -> for CSS Styles; Disable other sibling buttons */
			event.target.classList.add("clicked");
			let allButtons = document.querySelectorAll(`[index="${index}"]`);

			for (let i = 0; i < allButtons.length; i++) {
				if (allButtons[i] === event.target) continue;

				allButtons[i].setAttribute("disabled", "");
			}

			/* Invoke checkAnswer to check Answer */
			this.checkAnswer(event, index);
		},
		checkAnswer: function(event, index) {
			let question = this.questions[index];

			if (question.userAnswer) {
				if (this.index < this.questions.length - 1) {
					setTimeout(
						function() {
							this.index += 1;
						}.bind(this),
						3000
					);
				}
				if (question.userAnswer === question.correct_answer) {
					/* Set class on Button if user answered right, to celebrate right answer with animation joyfulButton */
					event.target.classList.add("rightAnswer");
					/* Set rightAnswer on question to true, computed property can track a streak out of 10 questions */
					this.questions[index].rightAnswer = true;
				} else {
					/* Mark users answer as wrong answer */
					event.target.classList.add("wrongAnswer");
					this.questions[index].rightAnswer = false;
					/* Show right Answer */
					let correctAnswer = this.questions[index].correct_answer;
					let allButtons = document.querySelectorAll(`[index="${index}"]`);
					allButtons.forEach(function(button) {
						if (button.innerHTML === correctAnswer) {
							button.classList.add("showRightAnswer");
						}
					});
				}
			}
			this.$store.commit("updateQuestions", question.question);
			this.$store.commit("updateCorrectAnswers", question.correct_answer);
			this.$store.commit("updateUsersAnswers", question.userAnswer);
			if (this.questions[index].rightAnswer === true) {
				this.$store.commit("updateCorrectAnsweredQuestions", 1);
			}
		},
	},
	mounted() {
		this.created();
	},
};
</script>

<style scoped>
button {
	font-size: 3rem;
	box-sizing: border-box;
	padding: 2rem;
	margin: 1rem;
	width: 47%;
	background-color: rgb(235, 197, 155);
	border: 4px solid rgb(146, 6, 6);
	border-radius: 2rem;
	box-shadow: 3px 5px 5px rgba(129, 14, 14, 0.521);
}

button:hover:enabled {
	transform: scale(1.02);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button:focus {
	outline: none;
}

button:active:enabled {
	transform: scale(1.05);
}
@keyframes flashButton {
	0% {
		opacity: 1;
		transform: scale(1.01);
	}
	50% {
		opacity: 0.7;
		transform: scale(1.02);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

button.clicked {
	pointer-events: none;
}

button.rightAnswer {
	animation: flashButton;
	animation-duration: 400ms;
	animation-delay: 100ms;
	animation-iteration-count: 3;
	animation-timing-function: linear;
	color: black;
	background: linear-gradient(
		210deg,
		rgba(0, 178, 72, 0.25),
		rgba(0, 178, 72, 0.5)
	);
}

button.wrongAnswer {
	color: black;
	background: linear-gradient(
		210deg,
		rgba(245, 0, 87, 0.25),
		rgba(245, 0, 87, 0.5)
	);
}

button.showRightAnswer {
	animation: flashButton;
	animation-duration: 400ms;
	animation-delay: 100ms;
	animation-iteration-count: 3;
	animation-timing-function: linear;
	color: black;
	background: linear-gradient(
		210deg,
		rgba(0, 178, 72, 0.25),
		rgba(0, 178, 72, 0.5)
	);
}
#page {
	background-color: rgba(110, 34, 34, 0.315);
}

#headline {
	font-size: 6rem;
	padding: 1.5rem;
	color: rgb(163, 1, 1);
	text-align: center;
	font-family: fantasy;
}

h1 {
	font-family: fantasy;
	font-size: 3rem;
	padding: 3rem;
}

form {
	font-family: fantasy;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 14rem;
}
</style>
